@model ProductViewModel

@section title {
    <h3>Add Product</h3>
}

<form method="post"
    asp-controller="products"
    asp-action="add"
>
    <div class="row mb-3">
        <div class="col-2">
            <label 
            asp-for="Product.Name"
            class="col-form-label">Name</label>
        </div>
        <div class="col-6">
            <input type="text" class="form-control"
            asp-for="Product.Name">
        </div>
    </div>

      <div class="row mb-3">
        <div class="col-2">
            <label 
            asp-for="Product.Price"
            class="col-form-label">Price</label>
        </div>
        <div class="col-6">
            <input type="text" class="form-control"
            asp-for="Product.Price">
        </div>
    </div>
</form>